@use './dashboard.scss';
@use './login.scss';
@use './register.scss';
@use './booking.scss';
@use './bookingForm.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import 'react-big-calendar/lib/sass/styles';
@import '~react-datepicker/dist/react-datepicker.css';

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    color: #7c838a;
    font-size: 1.1em;
  }
  input {
    height: 2.2em;
    background: rgba(176, 186, 195, 0.4);
    border-radius: 0.5em;
    padding-left: 0.5em;
  }
}
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

@for $index from 1 through 6 {
  h#{$index} {
    margin: 0;
    line-height: 1.6;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
}

h1 {
  font-size: 1.9em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1em;
}
