.login-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background.png');
  background-repeat: none;
  background-size: cover;
}

.login {
  width: 60%;
  height: 65%;
  background-color: #e6f3ff;
  border-radius: 1em;
  border-top: 0.1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.5px);
  .left {
    width: 35%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      padding: 1em;
    }
  }
  .right {
    padding: 2em 6em 2em 6em;
    background-color: white;
    width: 65%;
    height: 100%;
    .form {
      width: 70%;
      label {
        margin-top: 0.5em;
      }
    }
    .button {
      margin-top: 2.5em;
      width: 11em;
    }
  }
}
